<div class="container">
  <p class="budget">Budget / semaine</p>
  <form action="dashboard" method="get">
  <label for="range">
    <input type="range" name="budget" id="range" min="70" max="100" step="5" value="175"/>
  </label>
    <div class="home-button">
      <input type="submit" value="C'est parti !">
    </div>
  </form>
  <output for="range" class="output"></output>
<div class="row pop-up">
  <div class="box small-6 large-centered">
    <a href="#" class="close-button">&#10006;</a>
    <h3>Bonjour !</h3>
    <div class="poptext">
      <p>Bienvenue dans Foodent, l'application alimentaire pour les étudiants</p>
      <p>Le concept est simple, vous saisissez votre budget alimentaire pour la semaine et l'appli vous proposera plusieurs listes de repas complets pour une période de 7 jours</p>
      <p>Si vous aimez une liste, inscrivez-vous simplement pour l'ajouter à votre profil</p>
    </div>
  </div>
</div>
</div>
